[Unit]
Description=Configura interfaz CAN can0
Before=docker.service

[Service]
Type=oneshot
ExecStart=/sbin/ip link set can0 type can bitrate 250000
ExecStart=/sbin/ip link set can0 up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target